policy_module(amazon_cloudwatch_agent, 1.0.0)

########################################
#
# Declarations
#

type amazon_cloudwatch_agent_t;
type amazon_cloudwatch_agent_exec_t;
init_daemon_domain(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_exec_t)

type amazon_cloudwatch_agent_log_t;
logging_log_file(amazon_cloudwatch_agent_log_t)

type amazon_cloudwatch_agent_var_lib_t;
files_type(amazon_cloudwatch_agent_var_lib_t)

type amazon_cloudwatch_agent_unit_file_t;
systemd_unit_file(amazon_cloudwatch_agent_unit_file_t)

########################################
#
# amazon_cloudwatch_agent local policy
#
allow amazon_cloudwatch_agent_t self:fifo_file rw_fifo_file_perms;
allow amazon_cloudwatch_agent_t self:unix_stream_socket create_stream_socket_perms;

# Network access
allow amazon_cloudwatch_agent_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(amazon_cloudwatch_agent_t)
corenet_tcp_sendrecv_generic_node(amazon_cloudwatch_agent_t)
corenet_tcp_sendrecv_all_ports(amazon_cloudwatch_agent_t)

# Allow reading system statistics
kernel_read_system_state(amazon_cloudwatch_agent_t)
kernel_read_network_state(amazon_cloudwatch_agent_t)

# Allow reading process information
domain_read_all_domains_state(amazon_cloudwatch_agent_t)

# Manage its own logs
manage_dirs_pattern(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_log_t, amazon_cloudwatch_agent_log_t)
manage_files_pattern(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_log_t, amazon_cloudwatch_agent_log_t)
manage_lnk_files_pattern(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_log_t, amazon_cloudwatch_agent_log_t)
logging_log_filetrans(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_log_t, { dir file lnk_file })

# Manage its own var lib files
manage_dirs_pattern(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_var_lib_t, amazon_cloudwatch_agent_var_lib_t)
manage_files_pattern(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_var_lib_t, amazon_cloudwatch_agent_var_lib_t)
manage_lnk_files_pattern(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_var_lib_t, amazon_cloudwatch_agent_var_lib_t)
files_var_lib_filetrans(amazon_cloudwatch_agent_t, amazon_cloudwatch_agent_var_lib_t, { dir file lnk_file })

# Allow reading system logs
logging_read_generic_logs(amazon_cloudwatch_agent_t)

# Allow reading some system information
fs_getattr_all_fs(amazon_cloudwatch_agent_t)
fs_read_cgroup_files(amazon_cloudwatch_agent_t)

# Allow executing shell commands
corecmd_exec_shell(amazon_cloudwatch_agent_t)
corecmd_exec_bin(amazon_cloudwatch_agent_t)

# Allow reading system configuration
files_read_etc_files(amazon_cloudwatch_agent_t)

# Allow using the proc filesystem
kernel_read_proc_symlinks(amazon_cloudwatch_agent_t)